<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [busyIf]="isLoading">
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form">
                    <div class="row">
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="code" name="code" class="form-control m-input"
                                    [placeholder]="l('Code')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="name" name="name" class="form-control m-input"
                                    [placeholder]="l('Name')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <button (click)="searchDatas()" class="btn btn-primary" type="submit"><i
                                    class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                <button class="btn btn-primary" (click)="clearTextSearch()">
                                    <i class="fa fa-sync"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
                <!-- ==================================================Table================================================== -->
                <span>
                    <h6 class="card-header"> {{ 'Transmission Type' }} </h6>
                </span>
                <div class="">
                    <grid-table
                        [columnDefs]="colDefs"
                        [paginationParams]="paginationParams"
                        [showPagination]="true"
                        [rowData]="rowData"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGrid($event)"
                        (changePaginationParams)="changePage($event)"
                        [frameworkComponents]="frameworkComponents"
                        [height]="'60vh'"
                        >
                    </grid-table>
                </div>
            </div>
        </div>
    </div>
</div>
