/* You can add global styles to this file, and also import other style files */
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

@keyframes glowing {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

/* .login-form */
/****************************** MENU *****/
.app-sidebar-menu .menu.menu-column>.menu-item {
    padding: 0;
    margin: 0;
}

.app-sidebar-menu .menu.menu-column>.menu-item:hover {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar-menu .menu.menu-column .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
[data-kt-app-layout=dark-sidebar] .app-sidebar-menu .menu.menu-column .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here),
[data-kt-app-layout=dark-sidebar] .app-sidebar-menu .menu.menu-column .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: #2f2e3c;
}

[data-kt-app-layout=light-sidebar] .app-sidebar-menu .menu.menu-column .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
[data-kt-app-layout=light-sidebar] .app-sidebar-menu .menu.menu-column .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: #e2e2e2;
}

.app-sidebar .menu.menu-column .menu-item .menu-link .menu-title {
    font-weight: 400;
    font-size: 1rem;
    text-transform: initial;
}

/*END MENU**********************************/
/* MENU LEFT STYLE */
.aside .menu .menu-item>.menu-link>.menu-title {
    font-weight: 400;
    font-size: 1rem;
}

.aside .menu .menu-item>.menu-link.active>.menu-title {
    font-weight: 400;
    color: var(--kt-menu-link-color-active);
}

.menu-hover-bg .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.menu-hover-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    font-weight: 600;
}

.show:not(.menu-dropdown)>.menu-sub-accordion,
.menu-sub-accordion.show {
    padding-left: 20px;
    transition: all 0s ease;
}

.menu-item {
    padding: 0;
}

.menu.menu-column .menu-item .menu-link {
    padding: 8px 6px;
}

.menu-item .menu-link .menu-icon {
    margin-right: 0px;
}

/*Button*/
.form-group .input-group .input-search,
.form-group .input-group .btn-search {
    display: flex;
    margin-top: 4px;
    position: relative;
}

.form-group .input-group .input-search {
    /*  flex: 1;  --> không mở */
}

.form-group .input-group .input-search .form-control {
    font-size: 1rem;
    padding: 0.15rem 0.3rem;
    line-height: 1.5;
    height: 24.44px;
    border: 1px solid #ced4da;
    border-radius: 0px;
    font-weight: 500;
    margin-bottom: 0px;
}

.form-group .input-group .input-search .form-control:focus {
    color: var(--kt-input-focus-color);
    background-color: var(--kt-input-focus-bg);
    border-color: #ff3a3a;
}

.form-group .input-group .input-search .form-control::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--kt-input-color-placeholder);
}

.form-group .input-group .input-search .form-control:hover {
    border: 1px solid #0091ea;
}

.form-group .input-group .input-search>tmss-multi-column-dropdown {
    width: 100%;
}

.form-group .input-group .input-search .fa-calendar-alt {
    background-color: #f3f6f9;
    border: 1px solid #e4e6ef;
    border-radius: 0;
    width: 40px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

.form-group .input-group .input-search .fa-calendar-alt:before {
    color: #21bd8f;
    top: 24%;
    position: relative;
}

input[type="checkbox"].form-control {
    border: none;
}

.form-group .input-group .rdActive {
    background-color: transparent;
    flex: none;
    align-items: center;
    height: auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.form-group .input-group .rdActive>span {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.form-group .input-group .rdActive>span>input {
    margin-right: 6px;
}

.form-group .input-group>.input-search:not(.rdActive) {
    max-width: 150px;
    width: 150px;
}

.form-group .input-group>.btn-search.minwidth .btn {
    min-width: 100px;
}

.input-group div.input-search {
    margin-left: 0px;
    margin-right: 6px;
}

.form-control.rdActive {
    padding: 0px;
}

tmss-text-input>.input-group.trigger-field>span {
    position: relative;
}

tmss-text-input i.fa.fa-angle-down {
    top: 6px !important;
}

.input-group:not(.trigger-field) {
    padding: 0px;
    padding-left: 2px;
}

.input-group div.input-search {
    margin-left: 0px;
    margin-right: 6px;
}

/* TMSS-COMBOBOX */
.form-group .input-group .input-search tmss-combobox {
    width: 100%;
    display: flex;
    flex: 1;
}

.form-group .input-group .input-search tmss-combobox>div.input-group {
    background-color: white;
    width: 100%;
    height: 24.44px;
    position: relative;
    display: flex;
    align-items: center;
}

.form-group .input-group .input-search tmss-combobox>div.input-group>span.input-group-text {
    line-height: 1.5;
    height: 24.44px;
    padding: 0.15rem 0.3rem;
    position: absolute;
    z-index: 0;
    background: transparent;
    border: none;
    color: var(--kt-input-color-placeholder);
    font-size: 0.9rem;
    font-weight: 500;
}

.form-group .input-group .input-search tmss-combobox>div.input-group>select {
    position: absolute;
    z-index: 2;
    background: transparent;
    width: 100%;
}

div#container .panelBtn.text-right {
    margin-bottom: 10px;
}

/*grid*/
body .ag-theme-alpine .ag-ltr div[role="row"] div[role="gridcell"].ag-cell.text-center {
    text-align: center;
    justify-content: center;
}

body .ag-theme-alpine .ag-ltr div[role="row"] div[role="gridcell"].ag-cell.text-right {
    text-align: right;
    justify-content: right;
}

body .ag-theme-alpine .ag-ltr .ag-group-contracted {
    margin-right: 0px;
}

/*other*/
.card-header:first-child {
    color: #006190;
    background-color: #DBF3EF;
    border: 1px solid #7DDBBF;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.3rem 1.25rem;
}

.card-header.card-grid-table {
    height: 18px;
    line-height: 18px;
    padding: 0 0.3rem;
}

/*view popup*/
.modal .modal-dialog .modal-content .modal-header {
    background-color: #0782d4 !important;
    border-bottom: none;

    .modal-title {
        color: #fff;
        font: 600 14px/18px "SF Pro Display", "Roboto", sans-serif;
        margin: auto 0;
    }
}

.modal .modal-content .modal-header .close {
    opacity: 1;
    color: #fff;
}

.input-group-text.left-text {
    display: flex;
    align-items: center;
    padding: 0.65rem 0.5rem 0.65rem 0.6rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: "SF Pro Text", sans-serif;
    color: #006190;
    line-height: 1.5;
    height: 30px !important;
    text-align: center;
    white-space: nowrap;
    background-color: #DBF3EF !important;
    border: 1px solid #7DDBBF;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-right-width: 0px;
    min-width: 150px;
}

.form-control {
    color: #333;
    font: 500 0.95rem/150% "SF Pro Display", "Roboto", sans-serif;
    border: 1px solid #7DDBBF;
    background-color: transparent;

}

.tmss-form-control {
    display: flex;
    padding: 0.15rem 0.3rem;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
    height: 30px !important;
    background-color: #ffffff;
    background-clip: padding-box;
    -webkit-transition: border-color0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color0.15s ease-in-out, box-shadow0.15s ease-in-out;
    transition: border-color0.15s ease-in-out, box-shadow0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    border: 1px solid #b8dbf0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group.text-left>.form-control.tmss-form-control {
    text-align: left !important;
    padding-left: 8px !important;
}

.prod-modal-lg{
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
