/* You can add global styles to this file, and also import other style files */
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

@keyframes glowing {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

body{
    font-family: 'Roboto' !important;
}

/* .login-form */
/****************************** MENU *****/
.app-sidebar-menu .menu.menu-column>.menu-item {
    padding: 0;
    margin: 0;
}

.app-sidebar-menu .menu.menu-column>.menu-item:hover {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar-menu .menu.menu-column .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
[data-kt-app-layout=dark-sidebar] .app-sidebar-menu .menu.menu-column .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here),
[data-kt-app-layout=dark-sidebar] .app-sidebar-menu .menu.menu-column .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: #2f2e3c;
}

[data-kt-app-layout=light-sidebar] .app-sidebar-menu .menu.menu-column .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
[data-kt-app-layout=light-sidebar] .app-sidebar-menu .menu.menu-column .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: #e2e2e2;
}

.app-sidebar .menu.menu-column .menu-item .menu-link .menu-title {
    font-weight: 400;
    font-size: 1rem;
    text-transform: initial;
}

/*END MENU**********************************/
/* MENU LEFT STYLE */
.aside .menu .menu-item>.menu-link>.menu-title {
    font-weight: 400;
    font-size: 1rem;
}

.aside .menu .menu-item>.menu-link.active>.menu-title {
    font-weight: 400;
    color: var(--kt-menu-link-color-active);
}

.menu-hover-bg .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.menu-hover-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    font-weight: 600;
}

.show:not(.menu-dropdown)>.menu-sub-accordion,
.menu-sub-accordion.show {
    padding-left: 20px;
    transition: all 0s ease;
}

.menu-item {
    padding: 0;
}

.menu.menu-column .menu-item .menu-link {
    padding: 8px 6px;
}

.menu-item .menu-link .menu-icon {
    margin-right: 0px;
}

/*Button*/
.form-group .input-group .input-search,
.form-group .input-group .btn-search {
    display: flex;
    margin-top: 4px;
    position: relative;
}

.form-group .input-group .input-search {
    /*  flex: 1;  --> không mở */
}

.form-group .input-group .input-search .form-control {
    font-size: 1rem;
    padding: 0.15rem 0.3rem;
    line-height: 1.5;
    height: 24.44px;
    border: 1px solid #ced4da;
    border-radius: 0px;
    font-weight: 500;
    margin-bottom: 0px;
}

.form-group .input-group .input-search .form-control:focus {
    color: var(--kt-input-focus-color);
    background-color: var(--kt-input-focus-bg);
    border-color: #ff3a3a;
}

.form-group .input-group .input-search .form-control::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--kt-input-color-placeholder);
}

.form-group .input-group .input-search .form-control:hover {
    border: 1px solid #0091ea;
}

.form-group .input-group .input-search>tmss-multi-column-dropdown {
    width: 100%;
}

.form-group .input-group .input-search .fa-calendar-alt {
    background-color: #f3f6f9;
    border: 1px solid #e4e6ef;
    border-radius: 0;
    width: 40px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

.form-group .input-group .input-search .fa-calendar-alt:before {
    color: #21bd8f;
    top: 24%;
    position: relative;
}

.fa-calendar-alt{
    color: #21bd8f !important;
}

input[type="checkbox"].form-control {
    border: none;
}

.form-group .input-group .rdActive {
    background-color: transparent;
    flex: none;
    align-items: center;
    height: auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.form-group .input-group .rdActive>span {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.form-group .input-group .rdActive>span>input {
    margin-right: 6px;
}

.form-group .input-group>.input-search:not(.rdActive) {
    max-width: 150px;
    width: 150px;
}

.form-group .input-group>.btn-search.minwidth .btn {
    min-width: 100px;
}

.input-group div.input-search {
    margin-left: 0px;
    margin-right: 6px;
}

.form-control.rdActive {
    padding: 0px;
}

tmss-text-input>.input-group.trigger-field>span {
    position: relative;
}

tmss-text-input i.fa.fa-angle-down {
    top: 6px !important;
}

.input-group:not(.trigger-field) {
    padding: 0px;
    padding-left: 2px;
}

.input-group div.input-search {
    margin-left: 0px;
    margin-right: 6px;
}

/* TMSS-COMBOBOX */
.form-group .input-group .input-search tmss-combobox {
    width: 100%;
    display: flex;
    flex: 1;
}

.form-group .input-group .input-search tmss-combobox>div.input-group {
    background-color: white;
    width: 100%;
    height: 24.44px;
    position: relative;
    display: flex;
    align-items: center;
}

.form-group .input-group .input-search tmss-combobox>div.input-group>span.input-group-text {
    line-height: 1.5;
    height: 24.44px;
    padding: 0.15rem 0.3rem;
    position: absolute;
    z-index: 0;
    background: transparent;
    border: none;
    color: var(--kt-input-color-placeholder);
    font-size: 0.9rem;
    font-weight: 500;
}

.form-group .input-group .input-search tmss-combobox>div.input-group>select {
    position: absolute;
    z-index: 2;
    background: transparent;
    width: 100%;
}

div#container .panelBtn.text-right {
    margin-bottom: 10px;
}

/*grid*/
body .ag-theme-alpine .ag-ltr div[role="row"] div[role="gridcell"].ag-cell.text-center {
    text-align: center;
    justify-content: center;
}

body .ag-theme-alpine .ag-ltr div[role="row"] div[role="gridcell"].ag-cell.text-right {
    text-align: right;
    justify-content: right;
}

body .ag-theme-alpine .ag-ltr .ag-group-contracted {
    margin-right: 0px;
}

/*other*/
.card-header:first-child {
    color: #006190;
    background-color: #DBF3EF;
    border: 1px solid #7DDBBF;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.3rem 1.25rem;
}

.card-header.card-grid-table {
    height: 18px;
    line-height: 18px;
    padding: 0 0.3rem;
}

/*view popup*/
.modal .modal-dialog .modal-content .modal-header {
    background-color: #0782d4 !important;
    border-bottom: none;

    .modal-title {
        color: #fff;
        font: 600 14px/18px "SF Pro Display", "Roboto", sans-serif;
        margin: auto 0;
    }
}

.modal .modal-content .modal-header .close {
    opacity: 1;
    color: #fff;
}

.input-group-text.left-text {
    display: flex;
    align-items: center;
    padding: 0.65rem 0.5rem 0.65rem 0.6rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: "SF Pro Text", sans-serif;
    color: #006190;
    line-height: 1.5;
    height: 30px !important;
    text-align: center;
    white-space: nowrap;
    background-color: #DBF3EF !important;
    border: 1px solid #7DDBBF;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-right-width: 0px;
    min-width: 150px;
}

.form-control {
    color: #333;
    font: 500 0.95rem/150% "SF Pro Display", "Roboto", sans-serif;
    border: 1px solid #7DDBBF;
    background-color: transparent;
}

.tmss-form-control {
    display: flex;
    padding: 0.15rem 0.3rem;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
    height: 30px !important;
    background-color: #ffffff;
    background-clip: padding-box;
    -webkit-transition: border-color0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color0.15s ease-in-out, box-shadow0.15s ease-in-out;
    transition: border-color0.15s ease-in-out, box-shadow0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    border: 1px solid #b8dbf0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group.text-left>.form-control.tmss-form-control {
    text-align: left !important;
    padding-left: 8px !important;
}

.prod-small-modal-lg{
    min-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.prod-modal-lg{
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
body .ag-theme-alpine .ag-ltr .ag-right-aligned-cell { text-align: right; justify-content: flex-end; } /*can phai*/
/*header*/
body .ag-theme-alpine .ag-header-container .ag-header-cell.ag-focus-managed.ag-header-cell-sortable,
body .ag-theme-alpine .ag-header-row.ag-header-row-column .ag-header-cell.ag-focus-managed,
body .ag-theme-alpine .ag-header-cell.ag-focus-managed.ag-header-cell-sortable,
body .ag-theme-alpine .ag-header-cell.ag-focus-managed.ag-header-cell-sortable .ag-filter-icon,
body .ag-theme-alpine .ag-header-cell.ag-focus-managed.ag-header-cell-sortable .ag-sort-ascending-icon,
body .ag-theme-alpine .ag-header-cell.ag-focus-managed.ag-header-cell-sortable .ag-sort-descending-icon,
body .ag-theme-alpine .ag-header-container .ag-header-row.ag-header-row-column,
body .ag-theme-alpine .ag-header-row:not(:first-child):not(.ag-header-row-floating-filter) .ag-header-cell { background-color: #7000cc!important;  color: white; text-shadow: none; }
/*row total*/
body ag-grid-angular.ag-theme-alpine .ag-floating-bottom { border-top:none }

body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-pinned-left-floating-bottom .ag-row .ag-cell,
body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-floating-bottom-viewport .ag-floating-bottom-container .ag-row .ag-cell
{ font-weight: 900; font-size: 12px !important; color: #0000b6; justify-content: flex-end; padding: 0px 2px 3px 1px;
    border-top: 2px solid #FDE636; background: linear-gradient(180deg, #fde63600 0%, #fde6361c 0%, #fde63600 0.01%, #fde6361c 100%, #ffe6231c 100%), #FFFBD4; }

body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-pinned-left-floating-bottom .ag-row .ag-cell span,
body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-floating-bottom-viewport .ag-floating-bottom-container .ag-row .ag-cell span {
    background: #FFF; box-shadow: 1px 1px 2px 0px #00000030 inset, 1px 1px 1px 0px #0000001a, 1px 1px 1px 0px #0000001a inset; text-align: right;
    height: 16px; line-height: 16px; position: relative; width: 98vw; margin-top: 2px; display: block; padding-right: 6px; text-shadow: 1px 1px 1px #00000040;
}

body ag-grid-angular.ag-theme-alpine .ag-row.ag-row-footer.ag-row-group.ag-row-level--1 .ag-cell span,
body ag-grid-angular.ag-theme-alpine .ag-row.ag-row-footer.ag-row-group.ag-row-level-0 .ag-cell span { opacity: 1; font-weight: normal; font-size: 13px; color: #000;}

body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-pinned-left-floating-bottom .ag-row div[col-id="0"].ag-cell span,
body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-pinned-left-floating-bottom .ag-row div[col-id="ag-Grid-AutoColumn"].ag-cell span,
body ag-grid-angular.ag-theme-alpine .ag-floating-bottom .ag-floating-bottom-viewport .ag-floating-bottom-container .ag-row div[col-id="0"].ag-cell span { opacity: 0; }

/*checkbox in grid*/
.ag-theme-alpine .ag-header-row .align-checkbox-header > .ag-cell-label-container { display: none; }
.ag-theme-alpine .ag-header-row .align-checkbox-header .ag-header-select-all { margin-right: 0px; margin-left: 9px; }
.ag-theme-alpine .ag-header-row.ag-header-row-column .align-checkbox-header .ag-header-select-.ag-label-align-right { margin-left: 0px; }
body .ag-theme-alpine .ag-header-cell.ag-focus-managed.ag-header-cell-sortable.align-checkbox-header { padding-left:1px; }
/*checkbox in grid*/
/*login*/
.login-account .login_content .login-form .form-group input[type=password].input-login {
    font-family: Verdana;
}
.login-account .login_content .login-form .form-group img.password-eye {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 6px;
    top: 6px;
}
.login-account .login_content .login-form .form-group img.password-eye:hover {
    opacity: 1;
}
#kt_body .login-account .login-aside { width: 50vw; max-width: 52vw; }
    .login-account .p-10 { padding: 0px 2.5rem !important; }
    .login_content.p-lg-15 { padding: 5rem 4vw !important; }
    .bgi-size-contain { background-color: #F2FAFF; }
    .bgi-size-contain .login_content { height: 90% ; width: 30vw !important;  background: #FFFFFF;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25), 10px 20px 20px rgba(0, 0, 0, 0.1) !important;
        border-radius: 20px !important; position: relative;}
    .login-account .login_content   .login-header{ display: flex; justify-content: space-between; }

    .login-account .login_content .login-header img { width: 10vw; z-index: 1; }
    .login-account .login_content h3, .login-account .login_content .h3 {z-index: 3;color: #52796F !important; text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);}
    .login-account .login_content .login-form .form-group { min-height: 4rem; display: flex; position: relative;  z-index: 2;}

    .login-account .login_content .login-form .form-group:first-child{
        margin-top: 4rem;
    }
    .login-account .login_content .login-form .form-group label {font-size: 14px;color: #52796F;font-weight: 700;display: flex;align-items: center;}
    .login-account .login_content .login-form .form-group.remember-user{
        margin-bottom: 4rem ;
    }
    .login-account .login_content .login-form .form-group label img{padding-right: 10px;}
    .login-account .login_content .login-form .form-group .input-login {
        border: 0px;
        border-bottom: 1px solid #C2D9E7; margin-bottom: 3rem;
        color: #52796F !important;
        padding-left:  12px !important;
        padding-bottom: 6px !important;
        background-color: white !important;
        border-radius: 0;
    }
    .login-account .login_content .login-form .form-group .input-login:focus{
        border-bottom: 1px solid #52796F;
        background-color: white !important;
    }
    .login-account .login_content .login-form .form-group input[type=password].input-login { font-family: Verdana;  }
    .login-account .login_content .login-form .form-group .btn.btn-primary:hover:not(.btn-active) { background-color: white !important; }
    .login-account .login_content .login-form .form-group .button-login.disabledtrue {
        background: linear-gradient(86.37deg, #52796F 0%, #52796F 100%);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
    .login-account button.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) { font-size: 2em; font-weight: 800; }
    .login-account .login_content .login-form .form-group
    .button-login.disabledfalse.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
        background: white ; box-shadow: none !important; text-shadow: none;
        color: #52796F ;
        border: 1px solid #52796F ;
    }

    .login-account .login_content .login-form .form-group input:-webkit-autofill {
        -webkit-text-fill-color: #004d79a8 !important;
        background-color: white !important;
        font-size: 1.175rem !important;
        transition: background-color 5000s ease-in-out 0s !important;
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .login-account .login_content .login-form .form-group input.disabled_true:-webkit-autofill { -webkit-text-fill-color: #52796F !important; }
    .login-account .login_content .login-form .form-group input:-webkit-autofill:hover,
    .login-account .login_content .login-form .form-group input:-webkit-autofill:focus,
    .login-account .login_content .login-form .form-group input:-webkit-autofill:active { -webkit-text-fill-color: #52796F !important; }

    .login-account .login_content .login-form .form-group img.password-eye { cursor: pointer; height: 24px; position: absolute; right: 6px; top: 6px; opacity: 0.5; }
    .login-account .login_content .login-form .form-group img.password-eye:hover { opacity: 1; }

    .login-account .login_content .login-form .form-group img.password-eye.password-eye-open { display: none;  opacity: 1; }

    @media (max-width: 991.8px) {
        .mt-5 { margin-top: 0rem !important; }
        .bgi-size-contain .login_content { width: 60vw !important;}
        .login_content.p-lg-15 { padding: 5rem 9vw !important; }
        .login-account .login_content h3 { font-size: 6vw; }
        .login-account .login_content .login-header img { width: 18vw; }
        body.header-tablet-and-mobile-fixed { padding-top: 0px; }
    }
    @media (max-height: 1042px) {
        .login-account .login_content .login-form .form-group:first-child { margin-top: 6rem; }
        .login-account .login_content .login-form .form-group { min-height: 4rem; }
        .login-account .login_content .login-form .form-group.remember-user { margin-bottom: 6rem; }
    }
    @media (max-height: 813px) {
        .login-account .login_content .login-form .form-group:first-child { margin-top: 1rem; }
        .login-account .login_content .login-form .form-group { min-height: 1rem; }
        .login-account .login_content .login-form .form-group.remember-user { margin-bottom: 1rem; }
    }

    @media (max-height: 730px) {
        .login_content.p-lg-15 { padding: 3rem 4vw !important; }
        .login-account .login_content .login-form .form-group:first-child { margin-top: 3rem; }
        .login-account .login_content .login-form .form-group { min-height: 3rem; }
        .login-account .login_content .login-form .form-group.remember-user { margin-bottom: 3rem; }
    }
    @media (max-height: 640px) {
        .login_content.p-lg-15 { padding: 2rem 4vw !important; }
        .login-account .login_content .login-form .form-group:first-child { margin-top: 2rem; }
        .login-account .login_content .login-form .form-group { min-height: 2rem; }
        .login-account .login_content .login-form .form-group.remember-user { margin-bottom: 2rem; }
    }
/* .login-form */
/*left bar*/
#kt_aside .menuleft-pin { position: absolute; top: 4px; right: 15px; color: #000; z-index: 4; cursor: pointer; }
#kt_aside .menuleft-pin .warp-pin { transform: rotate(90deg); height: 24px; width: 24px; cursor: pointer; color: #7e8299; background-color: #dfefff;
    border-color: #f3f6f9; border-radius: 25px; display: flex; align-items: center; justify-content: center; }
#kt_aside .menuleft-pin .warp-pin:hover { color: #fff; background-color: #f64e60; border-color: #f64e60 }
#kt_aside .menuleft-pin .warp-pin:hover i { color: #fff; }
#kt_aside .menuleft-pin.active .warp-pin { transform: rotate(0deg) }
#kt_aside .menuleft-pin.active .warp-pin i { color: #f64e60; }
#kt_aside .menuleft-pin.active .warp-pin:hover i { color: #fff; }
#kt_content_container #kt_aside.active_top > .menuleft-pin { top: 50px; }

.aside .menu .menu-item > .menu-link > .menu-title { font-weight: 400; font-size: 1rem; }
.aside .menu .menu-item > .menu-link.active > .menu-title { font-weight: 400; color: var(--kt-menu-link-color-active); }
.menu-hover-bg .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here),
.menu-hover-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) { font-weight: 600; }
.show:not(.menu-dropdown) > .menu-sub-accordion, .menu-sub-accordion.show { padding-left: 20px; transition: all 0s ease; }
.menu-item { padding: 0;}
.menu.menu-column .menu-item .menu-link { padding: 8px 6px; }
.menu-item .menu-link .menu-icon { margin-right:0px; }
/*Edit grid*/
body .ag-theme-alpine div[ref="centerContainer"] .ag-row.ag-row-group .ag-cell { background-color: #F7F7F7; opacity: 1; border-right: 1px solid #00000000; border-bottom: 1PX solid #DDE2EB;}
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-odd.ag-row-inline-editing .cell-edit.ag-cell.ag-cell-inline-editing,
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-even.ag-row-inline-editing .cell-edit.ag-cell.ag-cell-inline-editing { padding: 1px 0px; box-shadow: inset 0 1px 2px rgba(0,0,0,.50), inset 1px 1px 2px rgba(0,0,0,.30), 0 -1px 1px #FFF, 0 1px 0 #FFF; border-radius: 0px; border: 1px solid #0088ff !important; }

body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-inline-editing .cell-edit.ag-cell.ag-cell-inline-editing .ag-cell-edit-wrapper input { box-shadow: inset 0 1px 3px rgb(0 0 0 / 30%), inset 1px 1px 3px rgba(0,0,0,.50), 0 -1px 1px #FFF, 0 1px 0 #FFF; height: 18px; border-radius: 0px; border: none; }
    /* row cell cột chưa edit */
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-odd:not(.ag-row-group) .cell-edit.ag-cell.ag-cell-not-inline-editing,
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-even:not(.ag-row-group) .cell-edit.ag-cell.ag-cell-not-inline-editing{ padding: 0px; box-shadow: inset 0 1px 2px rgba(0,0,0,.20), inset 1px 1px 2px rgba(0,0,0,.30), 0 -1px 1px #FFF, 0 1px 0 #FFF;  border-radius: 0px;   }

body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-odd:not(.ag-row-group) .cell-edit.ag-cell.ag-cell-not-inline-editing.cell-edit-edited,
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-even:not(.ag-row-group) .cell-edit.ag-cell.ag-cell-not-inline-editing.cell-edit-edited { font-weight: bold; color: #0066FF; letter-spacing: -0.5px;  } /* font-size: 0.85rem !important; */


/* border: 1px solid #ff3a3a;  */

body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-odd:not(.ag-row-group) .cell-edit.cell-edit-disable.ag-cell.ag-cell-not-inline-editing,
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-even:not(.ag-row-group) .cell-edit.cell-edit-disable.ag-cell.ag-cell-not-inline-editing { background-color:  #f5eded00; font-weight: normal;}

body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-even:not(.ag-row-group) .cell-edit.cell-edit-itemOrder1.ag-cell.ag-cell-not-inline-editing,
body .ag-theme-alpine div[ref="centerContainer"]  .ag-row.ag-row-odd:not(.ag-row-group) .cell-edit.cell-edit-itemOrder1.ag-cell.ag-cell-not-inline-editing {  background-color: #ffe990; }

/* gridEdit selected row */
body .gridEdit .ag-theme-alpine .ag-ltr div[ref="centerContainer"]  .ag-row.ag-row-selected.ag-row-even:not(.ag-row-group) .cell-edit.cell-edit-itemOrder1.ag-cell.ag-cell-not-inline-editing,
body .gridEdit .ag-theme-alpine .ag-ltr div[ref="centerContainer"]  .ag-row.ag-row-selected.ag-row-odd:not(.ag-row-group) .cell-edit.cell-edit-itemOrder1.ag-cell.ag-cell-not-inline-editing,
body .gridEdit .ag-theme-alpine .ag-row.ag-row-selected,
body .gridEdit .ag-theme-alpine .ag-ltr .ag-row.ag-row-selected .ag-cell.cell-text-render ag-cell-text-renderer .ag-in-cell-text  {  background-color: #ffd738 !important; }
/*Edit grid*/
