<div class="kt-portlet kt-portlet--height-fluid edition-statistics">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <i class="la la-pie-chart kt-font-success"></i>
                    <span
                        class="caption-subject font-green-seagreen">{{" Qty Out Statistics" | localize}}</span><br>
                    <small>
                        <span class="caption-helper">
                            {{selectedDateRange[0] | momentFormat: 'L'}} -
                            {{selectedDateRange[1] | momentFormat: 'L'}}
                        </span>
                    </small>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <label class="btn m-btn--pill btn-secondary"
                        [ngClass]="{'active': selectedType ==  'Cfc'}"
                        (click)="typeChange('Cfc')">
                        <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle" [value]="'Cfc'">
                        {{"Cfc" | localize}}
                    </label>
                    <label class="btn m-btn--pill btn-secondary"
                        [ngClass]="{'active': selectedType ==  'Warehouse'}"
                        (click)="typeChange('Warehouse')">
                        <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle" [value]="'Warehouse'">
                        {{"Warehouse" | localize}}
                    </label>
                    <select id="HasException" name="HasException" class="form-control" style="width: 65px;" *ngIf="isWarehouse">
                        <option value="A1">{{"A1" | localize}}</option>
                        <option value="A2">{{"A2" | localize}}</option>
                        <option value="B1">{{"B1" | localize}}</option>
                        <option value="C1">{{"C1" | localize}}</option>
                        <option value="C2">{{"C2" | localize}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body" [perfectScrollbar]>
            <ngx-charts-pie-chart  [results]="editionStatisticsData"
                [legend]="true" [doughnut]="true" [arcWidth]="0.75" [labels]="true" [explodeSlices]="true">
            </ngx-charts-pie-chart>
            <div class="note note-info text-center chart" [hidden]="editionStatisticsHasData">
                <small class="text-muted">{{"NoData" | localize}}</small>
            </div>
        </div>
    </div>
