<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [busyIf]="isLoading">
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form">
                    <div class="row align-items-center mb-2">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input [(ngModel)]="plantName" name="plantName" class="form-control m-input"
                                    [placeholder]="l('Factory Name')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input [(ngModel)]="storageLocationName" name="storageLocationName" class="form-control m-input"
                                    [placeholder]="l('Storage Location Name')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input [(ngModel)]="addressLanguageEn" name="addressLanguageEn" class="form-control m-input"
                                    [placeholder]="l('Address Language En')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input [(ngModel)]="category" name="category" class="form-control m-input"
                                    [placeholder]="l('Category')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button (click)="searchDatas()" class="btn btn-primary" type="submit"><i
                                    class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                <button class="btn btn-primary" (click)="clearTextSearch()">
                                    <i class="fa fa-sync"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ==================================================Table================================================== -->
                <span>
                    <h6 class="card-header"> {{ 'Storage Location' }} </h6>
                </span>
                <div class="">
                    <grid-table
                        [columnDefs]="colDefs"
                        [paginationParams]="paginationParams"
                        [showPagination]="true"
                        [rowData]="rowData"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGrid($event)"
                        (changePaginationParams)="changePage($event)"
                        [frameworkComponents]="frameworkComponents"
                        [height]="'52vh'"
                        >
                    </grid-table>
                </div>
                <hr>
                <div class="row mb-2">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-success" (click)="exportToExcel()">
                            <i class="far fa-file-excel"></i> {{"ExportToExcel" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
