.page-container {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.record-container {
    float: left;
    padding: 4px 0;
}

.nav-container {
    float: right;
}
.nav-container span { position: relative; display: flex; align-items: center; }
.nav-container select { height: 19px; margin-left: 4px; }
.nav-container button { height: 24px; }
.btn {
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

/* Darker background on mouse-over */
// .btn:hover {
//     background-color: rgb(145, 152, 172);
// }

.clearfix {
    overflow: hidden;
}
