<ag-grid-angular
    #agGrid
    [ngStyle]="style"
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [ngClass]="className ? className : wrapText ? 'grid-wrap-text' : ''"
    [masterDetail]="masterDetail"
    [detailCellRenderer]="detailCellRenderer"
    [detailRowHeight]="true"
    [detailCellRendererFramework]="detailCellRendererFramework"
    (firstDataRendered)="firstDataRenderedEvent($event)"
    [modules]="modules"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="false"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (rowClicked)="onRowClicked($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellKeyPress)="onCellKeyPress($event)"
    (cellDoubleClicked)="cellDoubleClickedEvent($event)"
    (keydown)="onKeyDown($event)"
    [tabToNextCell]="tabToNextCell"
    [processCellForClipboard]="processCellForClipboard"
    [suppressCopyRowsToClipboard]="true"
    [getRowStyle]="getRowStyle"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [enableRangeSelection]="enableRangeSelection"
    [stopEditingWhenCellsLoseFocus]="true"
    [suppressPropertyNamesCheck]="true"
    [rowSelection]="rowSelection"
    [animateRows]="false"
    [groupMultiAutoColumn]="groupMultiAutoColumn"
    [ensureDomOrder]=true
    [floatingFilter]="enableFilter"
    [debounceVerticalScrollbar]="true"
    [navigateToNextCell]="navigateToNextCell"
    [frameworkComponents]="frameworkComponents"
    [suppressRowClickSelection]="isSuppressRowClickSelection"
    [getContextMenuItems]="getContextMenuItems"
    (rowSelected)="onRowSelected($event)"
    [suppressLastEmptyLineOnPaste]="isSuppressLastEmptyLineOnPaste"
    [suppressCellSelection]="isSuppressCellSelection"
    [sideBar]="sideBar"
    (filterChanged)="onFilterChanged($event)"
    (columnResized)="onColumnResized($event)"
    >
</ag-grid-angular>
<grid-pagination
    *ngIf="showPagination"
    [pageSize]="paginationParams?.pageSize"
    [paginationParams]="paginationParams"
    (pageChangedEvent)="changePage($event)"
    [textPagination]="textPagination"
    [allowToGetMultiRecords]="allowToGetMultiRecords">
</grid-pagination>
