<div appBsModal #addGrnContWarehouse="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="addGrnContWarehouse" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog prod-small-modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{"Goods Received Note"}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="ui-g-12 p-0">
                    <fieldset class="fieldset-border ui-g-12 pl-0 pr-0  mt-2" style="height: auto;">
                        <div class="ui-g-12 ph-0">
                            <div class="ui-g-12 ui-md-4">
                                <tmss-text-input [text]="'Goods Received Note No'" [(ngModel)]="_goodsReceived"
                                    name='goodsReceived' [isReadonly]="true"></tmss-text-input>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <div class="input-group">
                                    <span class="input-group-text left-text">Receive Date</span>
                                    <input type='text' class="form-control tmss-form-control" name='receiveDate'
						                #datepicker='bsDatepicker' [(ngModel)]='_receiveDate' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker.toggle()"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <tmss-combobox [items]="list" name="warehouse" [text]="'Warehouse'" (ngModelChange)="onChangeWarehouse($event)"
                                    [(ngModel)]="_warehouse"></tmss-combobox>
                            </div>
                            <div class="ui-g-12 ui-md-4" style="display: flex;">
                                <label>Export By: </label>
                                <div class="kt-checkbox-list">
                                    <label class="kt-checkbox ml-4">
                                        <input type="checkbox" name="isExcel" [(ngModel)]="isExcel" (change)="onChangeToExcel($event.currentTarget.checked)">
                                        <label>{{'Excel' | localize}}</label>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="kt-checkbox-list ml-4">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" name="isPdf" [(ngModel)]="isPdf" (change)="onChangeToPdf($event.currentTarget.checked)">
                                        <label>{{'Pdf' | localize}}</label>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="ui-g-12 p-0">
                    <grid-table
                        [columnDefs]="viewColDefs"
                        [paginationParams]="paginationParams"
                        [showPagination]="false"
                        [rowData]="data"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGrid($event)"
                        (onChangeSelection)="onChangeRowSelection($event)"
                        [rowSelection]="rowSelection"
                        (rowClicked)="onRowClick($event)"
                        [frameworkComponents]="frameworkComponents"

                        (callBackEvent)="callBackDataGrid($event)"
                        (cellValueChanged)="onCellValueChanged($event)"
                        [gridOptions]="gridOptions"
                        >
                    </grid-table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" (click)="save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                <button type="button" class="btn btn-outline-danger" (click)="close()">
                    <i class="fa tmss-fa fa-times mr-1"></i>{{"Back" | localize}}</button>
            </div>
        </div>
    </div>
</div>
