<div class="input-group" [ngClass]="className ? className : ''">
  <span class="input-group-text left-text" *ngIf="text" [ngStyle]="{'color': (!colorlabel) ? null : 'red','width': (!colorlabel) ? null : '140px','height': (!colorlabel) ? null : '30px'}"
  >{{ text }}<p *ngIf="isValidate" style="color: red; margin: 0.2rem 0 0.2rem 0.5rem;">*</p></span>
  <select
    #input
    [class.required]="isRequired"
    class="form-control tmss-form-control"
    [(ngModel)]="value"
    [disabled]="isDisabled ? true : null"
    (change)="changeValue($event)"
    [ngStyle]="{'height': (!colorlabel) ? null : '30px','color': (!colorlabel) ? null : '#006190'}"
  >
    <!-- <option [value]="0" disabled selected hidden>{{ placeholder }}</option> -->
    <option *ngFor="let item of items" [value]="item ? item[key] : undefined" [selected]="selectedItem !== null && item && item[key] === selectedItem ? true : false">{{ item ? item[label] : undefined }}</option>
  </select>
</div>
