<div id="container" style="overflow: hidden; padding-left: 0.5rem; padding-right: 0.5rem;" [busyIf]="isLoading">
    <div class="ui-g-12">
        <h6 class="card-header bg-card-header card-header-input"> {{ 'Vehicle CBU Master' }} </h6>
        <div class="ui-g-12">
            <div class="ui-g-12">
                <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                        <div class="ui-g-12 ui-md-3 ph-0">
                            <div class="ui-g-12 ">
                                <input [(ngModel)]="vehicleType" name="vehicleType" class="form-control"
                                    [placeholder]="l('Vehicle Type')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-3 ph-0">
                            <div class="ui-g-12 ">
                                <input [(ngModel)]="model" name="model" class="form-control" [placeholder]="l('Model')"
                                    type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="btn-search">
                            <button (click)="searchDatas()" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="btn-search">
                            <button (click)="clearTextSearch()" class="btn btn-primary">
                                <i class="fas fa-backspace"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="fieldset-border ui-g-12 grid-parent">
                <span>
                    <h6 class="card-header bg-card-header card-header-input"> {{ 'Vehicle CBU' }} </h6>
                </span>
                <div class="">
                    <grid-table
                        [columnDefs]="vehicleCBUColDefs"
                        [paginationParams]="paginationParams"
                        [showPagination]="true"
                        [rowData]="rowData"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGrid($event)"
                        (changePaginationParams)="changePage($event)"
                        (onChangeSelection)="onChangeRowSelection($event)"
                        [frameworkComponents]="frameworkComponents"
                        [height]="'58vh'"
                        >
                    </grid-table>
                </div>
            </fieldset>
            <!-- <div class="text-center pr-1">
                    <fieldset class="fieldset-border">
                        <button class="tmss-btn tmss-footer-btn btn-outline-primary" (click)="exportToExcel()">
                            <i class="fas fa-file-excel mr-1"></i>{{ l('Export Excel') }}
                        </button>
                    </fieldset>
                </div> -->
        </div>
    </div>
</div>
