<!-- ==================================================Header================================================== -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [busyIf]="isLoading">
    <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{"Users" | localize}}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    {{"UsersHeaderInfo" | localize}}
                </span>
            </div>
        </div>
    </div>
    <!-- ==================================================Search================================================== -->
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form">
                    <div class="row align-items-center mb-2">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="vehicleType" name="vehicleType" class="form-control m-input"
                                    [placeholder]="l('Vehicle Type')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="model" name="model" class="form-control m-input"
                                    [placeholder]="l('Model')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button (click)="searchDatas()" class="btn btn-primary" type="submit"><i
                                    class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                <button class="btn btn-primary" (click)="clearTextSearch()">
                                    <i class="fa fa-sync"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ==================================================Table================================================== -->
                <div class="row align-items-center">
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                            (onLazyLoad)="searchDatas($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns"
                            [globalFilterFields]="['vehicleType', 'model', 'marketingCode', 'productionCode']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 200px" pSortableColumn="vehicleType">
                                        {{'Vehicle Type'}}
                                        <p-sortIcon field="vehicleType"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="model">
                                        {{'Model'}}
                                        <p-sortIcon field="model"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="marketingCode">
                                        {{'Marketing Code'}}
                                        <p-sortIcon field="marketingCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="productionCode">
                                        {{'Production Code'}}
                                        <p-sortIcon field="productionCode"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 200px">
                                        <span class="ui-column-title"> {{'Vehicle Type'}}</span>
                                        {{record.vehicleType}}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="ui-column-title"> {{'Model'}}</span>
                                        {{record.model}}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="ui-column-title"> {{'Marketing Code'}}</span>
                                        {{record.marketingCode}}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="ui-column-title"> {{'Production Code'}}</span>
                                        {{record.productionCode}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <!-- ==================================================Phân trang================================================== -->
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{'NoData' | localize}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="searchDatas($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                            </p-paginator>
                            <span class="total-records-count">
                                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mb-2">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-success" (click)="exportToExcel()">
                            <i class="far fa-file-excel"></i> {{"ExportToExcel" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
