<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [busyIf]="isLoading">
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form">
                    <div class="row">
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="partNo" name="partNo" class="form-control m-input"
                                    [placeholder]="l('Part No')" type="text" (keyup.enter)="searchDatas()">
                                <tmss-combobox [items]="listWarehouse" name="warehouse"
                                    [(ngModel)]="warehouse" (ngModelChange)="searchDatas()"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type='text' class="form-control m-input" name='requestDateFrom' [placeholder]="l('Request Date From')"
                                        #datepicker='bsDatepicker' [(ngModel)]='requestDateFrom' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker.toggle()"></i>
                                    </span>
                                </div>
                                <button (click)="searchDatas()" class="btn btn-primary" type="submit"><i
                                    class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                <button class="btn btn-primary" (click)="clearTextSearch()">
                                    <i class="fa fa-sync"></i></button>
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type='text' class="form-control m-input" name='requestDateTo' [placeholder]="l('Request Date To')"
                                        #datepicker2='bsDatepicker' [(ngModel)]='requestDateTo' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker2.toggle()"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="supplierNo" name="supplierNo" class="form-control m-input"
                                    [placeholder]="l('Supplier No')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="model" name="model" class="form-control m-input"
                                    [placeholder]="l('Carfamily Code')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
                <!-- ==================================================Table================================================== -->
                <span>
                    <h6 class="card-header"> {{ 'Stock In Warehouse' }} </h6>
                </span>
                <div class="ui-g-12 input-group">
                    <div class="ui-g-12 ui-md-12 frame-1000006298">
                        <div class="segmented-picker-option groupBtn actionButton_w1" (click)="setvalradio('1')">
                            <div class="separator"></div>
                            <div class="label">In Warehouse</div>
                        </div>
                        <div class="segmented-picker-option groupBtn actionButton_w2" (click)="setvalradio('2')">
                            <div class="separator"></div>
                            <div class="label">Order Request</div>
                        </div>
                        <div class="segmented-picker-option groupBtn actionButton_w3" (click)="setvalradio('3')">
                            <div class="separator"></div>
                            <div class="label">To Factory</div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <grid-table
                        [columnDefs]="colDefs"
                        [paginationParams]="paginationParams"
                        [showPagination]="true"
                        [rowData]="rowData"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGrid($event)"
                        (changePaginationParams)="changePage($event)"
                        (onChangeSelection)="onChangeRowSelection($event)"
                        [frameworkComponents]="frameworkComponents"
                        [height]="'51vh'"
                        [rowSelection]="rowSelection"
                        (rowClicked)="onRowClick($event)"
                        >
                    </grid-table>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-view" (click)="viewMaterialById()" [disabled]="!saveSelectedRow.id">
                            <i class="far fa-regular fa-eye"></i> {{"View Material" | localize}}</button>
                        <button type="button" class="btn btn-primary" (click)="addGoodsDeliveryNote()" [disabled]="!saveSelectedRow.id"
                            *ngIf="btnGDN && isGranted('Pages.Management.Warehouse.StockWarehouse.Edit')">
                            <i class="fa fa-plus"></i> {{"Add Goods Delivery Note" | localize}}</button>
                        <button type="button" class="btn btn-warning" (click)="addOrder()" [disabled]="isDisable"
                            *ngIf="btnPO && isGranted('Pages.Management.Warehouse.StockWarehouse.Order')">
                            <i class="fa fa-plus"></i> {{"Purchase Order" | localize}}</button>
                        <button type="button" class="btn btn-primary" (click)="editOrderQty()" [disabled]="isEdit"
                            *ngIf="btnPO && isGranted('Pages.Management.Warehouse.StockWarehouse.Order')">
                            <i class="far fa-edit"></i> {{"Edit Order Qty" | localize}}</button>
                        <button type="button" class="btn btn-danger" (click)="cancelOrder()" [disabled]="isEdit" *ngIf="btnPO">
                            <i class="far fa-trash-alt"></i> {{"Cancel Order" | localize}}</button>
                        <button type="button" class="btn btn-success" (click)="exportToExcel()">
                            <i class="far fa-file-excel"></i> {{"ExportToExcel" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<viewMaterial #viewMaterial></viewMaterial>
<addPurchaseOrder #addPurchaseOrder></addPurchaseOrder>
<addGdnStock #addGdnStock></addGdnStock>
<editModal #editModal></editModal>
