<ag-grid-angular
    #agGrid
    style="width: 100%; height: 100%;"
    [ngStyle]="style"
    class="ag-theme-alpine"
    [ngClass]="className ? className : ''"
    [modules]="modules"
    [domLayout]="autoHeight"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [enableRangeSelection]="true"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [getRowStyle]="getRowStyle"
    [pagination]="false"
    [rowData]="rowData"
    [frameworkComponents]="frameworkComponents"
    [rowSelection]="rowSelection"
    [tabToNextCell]="tabToNextCell"
    [navigateToNextCell]="navigateToNextCell"
    (rowDragEnd)="onRowDragEnd($event)"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (rowClicked)="onRowClicked($event)"
    (rowSelected)="onRowSelected($event)"
    (cellDoubleClicked)="cellDoubleClickedEvent($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (keydown)="onKeyDown($event)"
    (cellKeyPress)="onCellKeyPress($event)"
    (filterChanged)="onFilterChanged($event)"
    [processCellForClipboard]="processCellForClipboard"
    [stopEditingWhenCellsLoseFocus]="true"
    [suppressCopyRowsToClipboard]="true"
    [alwaysShowVerticalScroll]="false"
    [rowDragManaged]="true" [animateRows]="false"
    [debounceVerticalScrollbar]="true"
    [groupSelectsChildren]="rowSelection === 'multiple'"
    [rowModelType]="'clientSide'"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [rowBuffer]="0"
    [groupUseEntireRow]="groupUseEntireRow"
    [ensureDomOrder]=true
    [suppressMoveWhenRowDragging]="false"
    [suppressPropertyNamesCheck]="true"
    [suppressPaginationPanel]="true"
    [suppressRowClickSelection]="isSuppressRowClickSelection"
    [floatingFilter]="enableFilter"
    [suppressLastEmptyLineOnPaste]="isSuppressLastEmptyLineOnPaste">
</ag-grid-angular>
<grid-pagination *ngIf="showPagination" [pageSize]="paginationParams?.pageSize" [paginationParams]="paginationParams" (pageChangedEvent)="changePage($event)" [textPagination]="textPagination" [allowToGetMultiRecords]="allowToGetMultiRecords">
</grid-pagination>
