<div class="d-flex flex-row-auto flex-root login-account">
    <div class=" login-aside-content
            d-flex
            flex-column flex-column-fluid
            bgi-position-y-bottom
            position-x-center
            bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background: #F2FAFF;">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10" [class.pb-lg-20]="!useFullWidthLayout()"
            [class.pb-0]="useFullWidthLayout()">
            <!--begin::Wrapper-->
            <div *ngIf="useFullWidthLayout()" class="container-xxl mx-auto">
                <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <!-- <tenant-change></tenant-change> -->
                </div>
                <!--begin::Form-->
                <router-outlet></router-outlet>
                <!--end::Form-->
            </div>
            <div *ngIf="!useFullWidthLayout()"
                class="login_content w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <!-- <tenant-change></tenant-change> -->
                </div>
                <!--begin::Form-->
                <router-outlet></router-outlet>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <div class="login-aside d-flex flex-column flex-row-auto">
        <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
            <a (click)="goToHome()" href="" class="d-flex justify-content-center" [class.mb-12]="!useFullWidthLayout()">
                <img *ngIf="!appSession.tenant || !appSession.tenant.id" alt="logo" class="max-h-70px"
                    [src]="appRootUrl() + 'assets/common/images/app-logo-on-light.svg'"
                    [class.mb-20]="useFullWidthLayout()" />
                <img *ngIf="appSession.tenant && appSession.tenant.id" [src]="
                        remoteServiceBaseUrl +
                        '/TenantCustomization/GetTenantLogo?skin=' +
                        getLogoSkin() +
                        '&tenantId=' +
                        appSession.tenant.id
                    " alt="logo" class="max-h-70px" />
            </a>
            <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" 
                style="color: red;font-weight: 600 !important;">
                Toyota Motor Viet Nam <br /> Start your impossible.
            </h3>
        </div>
    </div>
</div>