<div appBsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="editModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog prod-small-modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{header + " Invoice"}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="ui-g-12 p-0">
                    <h6 class="card-header bg-card-header card-header-input mb-1">
                        {{ 'Invoice Information' }}
                    </h6>
                    <fieldset class="fieldset-border ui-g-12 pl-0 pr-0" style="height: auto;">
                        <div class="ui-g-12 ph-0">
                            <div class="ui-g-12 ui-md-4">
                                <tmss-text-input [text]="'Invoice No'" [(ngModel)]="rowData.invoiceNo"
                                    name='invoiceNo' [isReadonly]="true"></tmss-text-input>
                            </div>
                            <div class="ui-g-12 ui-md-4" *ngIf="isEdit">
                                <div class="input-group">
                                    <span class="input-group-text left-text">Invoice Date</span>
                                    <input type='text' class="form-control tmss-form-control" name='invoiceDate'
						                #datepicker='bsDatepicker' [(ngModel)]='_invoiceDate' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker.toggle()"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4" *ngIf="!isEdit">
                                <div class="input-group">
                                    <span class="input-group-text left-text">Invoice Date</span>
                                    <input type='text' class="form-control tmss-form-control" name='invoiceDate' readonly
						                [(ngModel)]='_invoiceDate'>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <tmss-text-input [text]="'Bill No'" [(ngModel)]="rowData.billNo"
                                    name='billNo' [isReadonly]="true"></tmss-text-input>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <div class="input-group">
                                    <span class="input-group-text left-text">Bill Date</span>
                                    <input type='text' class="form-control tmss-form-control" name='billDate' readonly
						                [(ngModel)]='_billDate'>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <tmss-text-input [text]="'Shipment No'" [(ngModel)]="rowData.shipmentNo"
                                    name='shipmentNo' [isReadonly]="true"></tmss-text-input>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <tmss-text-input [text]="'Forwarder'" [(ngModel)]="rowData.forwarder" name='forwarder' [isReadonly]="true"></tmss-text-input>
                            </div>
                            <div class="ui-g-12 ui-md-4" *ngIf="isEdit">
                                <tmss-combobox [items]="list" name="status" [text]="'Status'" [(ngModel)]="rowData.status"></tmss-combobox>
                            </div>
                            <div class="ui-g-12 ui-md-4" *ngIf="!isEdit">
                                <tmss-text-input [text]="'Status'" [(ngModel)]="rowData.status" name='status' [isReadonly]="true"></tmss-text-input>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="ui-g-12 p-0">
                    <h6 class="card-header bg-card-header card-header-input mb-1">
                        {{ 'Invoice Details' }}
                    </h6>
                    <fieldset class="fieldset-border ui-g-12 pl-0 pr-0" style="height: auto;">
                        <div class="ui-g-12 ph-0">
                            <grid-table *ngIf="isEdit"
                                [columnDefs]="editColDefs"
                                [paginationParams]="paginationParams"
                                [showPagination]="false"
                                [rowData]="data"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                [frameworkComponents]="frameworkComponents"

                                (cellValueChanged)="onCellValueChanged($event)"
                                [gridOptions]="gridOptions"
                            >
                            </grid-table>
                            <grid-table *ngIf="!isEdit"
                                [columnDefs]="viewColDefs"
                                [paginationParams]="paginationParams"
                                [showPagination]="false"
                                [rowData]="data"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackDataGrid($event)"
                                [frameworkComponents]="frameworkComponents"
                            >
                            </grid-table>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" (click)="save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" *ngIf="isEdit">
                    <i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                <button type="button" class="btn btn-outline-danger" (click)="close()">
                    <i class="fa tmss-fa fa-times mr-1"></i>{{"Cancel" | localize}}</button>
            </div>
        </div>
    </div>
</div>
