<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [busyIf]="isLoading">
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form">
                    <div class="row">
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="invoiceNo" name="invoiceNo" class="form-control m-input"
                                    [placeholder]="l('Invoice No')" type="text" (keyup.enter)="searchDatas()">
                                <input [(ngModel)]="billNo" name="billOfLadingNo" class="form-control m-input"
                                    [placeholder]="l('Bill Of Lading No')" type="text" (keyup.enter)="searchDatas()">
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type='text' class="form-control m-input" name='invoiceDateFrom' [placeholder]="l('Invoice Date From')"
                                        #datepicker='bsDatepicker' [(ngModel)]='invoiceDateFrom' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker.toggle()"></i>
                                    </span>
                                </div>
                                <div class="input-group">
                                    <input type='text' class="form-control m-input" name='billDateFrom' [placeholder]="l('Bill Date From')"
                                        #datepicker3='bsDatepicker' [(ngModel)]='billDateFrom' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker3.toggle()"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type='text' class="form-control m-input" name='invoiceDateTo' [placeholder]="l('Invoice Date To')"
                                        #datepicker2='bsDatepicker' [(ngModel)]='invoiceDateTo' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker2.toggle()"></i>
                                    </span>
                                </div>
                                <div class="input-group">
                                    <input type='text' class="form-control m-input" name='billDateTo' [placeholder]="l('Bill Date To')"
                                        #datepicker4='bsDatepicker' [(ngModel)]='billDateTo' bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', isAnimated: true, selectFromOtherMonth: true}">
                                    <span class="input-group-text right-text">
                                        <i class="fa tmss-fa fa-calendar-alt" (click)="datepicker4.toggle()"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="shipmentNo" name="shipmentNo" class="form-control m-input"
                                    [placeholder]="l('Shipment No')" type="text" (keyup.enter)="searchDatas()">
                                <tmss-combobox [items]="listStatus" name="status"
                                    [(ngModel)]="supplierNo" (ngModelChange)="searchDatas()"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-md-customize">
                            <div class="form-group">
                                <input [(ngModel)]="containerNo" name="containerNo" class="form-control m-input"
                                    [placeholder]="l('Container No')" type="text" (keyup.enter)="searchDatas()">
                                <button (click)="searchDatas()" class="btn btn-primary" type="submit"><i
                                    class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                <button class="btn btn-primary" (click)="clearTextSearch()">
                                    <i class="fa fa-sync"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
                <!-- ==================================================Table================================================== -->
                <span>
                    <h6 class="card-header"> {{ 'Invoice' }} </h6>
                </span>
                <div class="">
                    <grid-table
                        [columnDefs]="colDefs"
                        [paginationParams]="paginationParams"
                        [showPagination]="true"
                        [rowData]="rowData"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGrid($event)"
                        (changePaginationParams)="changePage($event)"
                        (onChangeSelection)="onChangeRowSelection($event)"
                        [frameworkComponents]="frameworkComponents"
                        [height]="'28vh'"
                        >
                    </grid-table>
                </div>
                <div class="mb-2"></div>
                <span>
                    <h6 class="card-header"> {{ 'Invoice Details' }} </h6>
                </span>
                <div class="">
                    <grid-table
                        [columnDefs]="colDefsDetails"
                        [paginationParams]="paginationParamsDetails"
                        [showPagination]="true"
                        [rowData]="rowDataDetails"
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackDataGridDetails($event)"
                        (changePaginationParams)="changePageDetails($event)"
                        (onChangeSelection)="onChangeRowSelectionDetails($event)"
                        [frameworkComponents]="frameworkComponents"
                        [height]="'20vh'"
                        >
                    </grid-table>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-12 text-right">
                        <!-- <button type="button" class="btn btn-view" (click)="editInvoice('View')" [disabled]="!saveSelectedRow.id">
                            <i class="far fa-regular fa-eye"></i> {{"View Invoice" | localize}}</button> -->
                        <button type="button" class="btn btn-primary" (click)="editInvoice('Edit')" [disabled]="notDelete"
                            *ngIf="isGranted('Pages.Management.Intransit.Invoice.Edit')">
                            <i class="far fa-edit"></i> {{"Edit" | localize}}</button>
                        <button type="button" class="btn btn-success" (click)="exportToExcel()">
                            <i class="far fa-file-excel"></i> {{"ExportToExcel" | localize}}</button>
                        <button type="button" class="btn btn-success" (click)="exportToExcelDetails()">
                            <i class="far fa-file-excel"></i> {{"ExportToExcel" | localize}} Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<editModal #editModal></editModal>
